<!DOCTYPE html>
<html>
<head>
    <title>Adoptions</title>
</head>
<body>
    <h1>Pet Adoptions
    </h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Pet Type</th>
                <th>Quantity</th>
                <th>Color</th>
                <th>Date Submitted</th>
            </tr>
            <tbody>
                <% adoptions.forEach(adoption => { %>
                    <tr>
                        <td><%= adoption.id %></td>
                        <td><%= adoption.pet_type %></td>
                        <td><%= adoption.quantity %></td>
                        <td><%= adoption.color %></td>
                        <td><%= adoption.date_submitted %></td>
                    </tr>
                <% }); %>
            </tbody>
        </thead>
    </table>
    <a href="/">Adopt a pet</a>
</body>
</html>
